body
{
	background: lightblue;
}

h1
{
	margin-left: 450px;
	color: orange;
}

.login_div1 , .login_div2
{
	background: white;
	padding-left: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 50px;
	float: none;
	border-radius: 15px;
	text-align: center;
	margin-left: 430px;
}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#digit_1 , #digit_2
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}
#log_in_button
{
	margin-left: 450px;
}